header {
    height: 150px;
    width: 100%;
    display: block;
    background: green;
   }

input{
    height: 30px;
    width: 40%;
    margin: 5%;
    font-size: 16pt;
}

button{
    width: 28%;
    height: 35px;
    margin: 10%;
    font-size: 16pt;
    background-color: forestgreen;
    color: white;
}

.name{
    float: left;
    padding: 7px;
}

.begin{
    float: left;
}

.end{
    float: left;
}

.property{
    float: right;
}

.block{
    width: 60%;
}