<!DOCTYPE html>
<head>
    <title>Microclimat</title>
    {% load staticfiles %}
    <link href={% static 'status.css' %} rel="stylesheet" type="text/css"/>
    <meta charset="utf-8"> 
</head>
<body>
    <header>
        
    </header>
    <div class="block">
    <p class="name">Свет</p>
    <div class="property">
        <div class="begin">
            <p class="name">С</p>
            <form><input></form>
        </div>
        <div class="end">
            <p class="name">До</p>
            <form><input></form>
        </div>
    </div>
    </div>
    <div>
        <form>
            <button>Save</button>
        </form>
    </div>
</body>

</html>
