html {
    background-color: whitesmoke;
}

#menu1 {
    background-color: cadetblue;
    height: 50px;
    padding-left: 10px;
    padding-top: 3px;
}

.menu {
    background-color: white;
    width: 20%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 600px;
    float: left;
    border-radius: 10px;
}

.menu_item {
    padding: 10px;
}

.menu_item:hover {
    background-color: darkgray;
}

#menu1 {
    font-size: 200%;
}

.good_list {
    background-color: white;
    float: left;
    border: 3px solid rgb(207, 202, 202);
    min-width: 70%;
    margin: 5px;
    height: 600px;
}

.good {
    margin: 5px;
    border: 3px solid rgb(207, 202, 202);
    width: 33.3333%;
    min-width: 220px;
}

.picture {
    width: 200px;
    margin: 5px;
}

.picture:hover {
    width: 210px;
}

.good_item {
    text-align: center;
    
}

.search-line {
    font-style: italic;
    background-color: whitesmoke;
    color: gray;
    border: 3px solid gray;
    border-radius: 10px;
    float: left;
    width: 65%;
    height: 30px;
    margin: 5px;
    min-width: 40px;
}

#search-button {
    background-color: cadetblue;
    float: left;
    height: 40px;
    width: 70px;
    border-radius: 10px;
}

#search-button:hover {
    height: 45px;
    width: 75px;
}

.column1 {
    float: left;
}

.column2 {
    float: left;
}

.column3 {
    float: left;
}

.filters {
    font-style: italic;
    background-color: whitesmoke;
    color: gray;
    border: 3px solid gray;
    border-radius: 10px;
    float: left;
    width: 65%;
    height: 50px;
    margin: 5px;
    min-width: 40px;
}

h1 {
    color: cadetblue;
    margin: 10px;
    text-align: center;
}

.news-block {
    width: 97%;
    float: left;
}

.news {
    background-color: white;
    width: 100%;
    height: 600px;
    float:left;
    margin: 20px;
    border: 3px solid gray;
}